<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Türkan API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Türkan: Haber Özetleme Botu</h1>
  <img src="{{ url_for('static', filename='e.jpeg') }}" align="center" width="400" height="120" />
  <br>
  <br>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	
        <input type="text" name="tweet_link" placeholder="Tweet linki giriniz." required="required"  />
		

        <button type="submit" class="btn btn-primary btn-block btn-large">Cevabı Bul</button>
    </form>

   <br>
   <br>
   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
